html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* pointer-events: none; */
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: example;
    animation-duration: 1s;

}

.deck .card.show {
    font-size: 33px;
    animation-name: example;
    animation-duration: 2s;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 70px;
    animation-name: match;
    animation-duration: 1s;
}

.deck .card.erro {
    cursor: default;
    background: #02ccba;
    font-size: 40px;    
    animation-name: erro;
    animation-duration: 1s;
    background: #2e3d49; 
      
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 660px;
    margin-bottom: 10px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    /* display: block; */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #2e3d49;
    font-size: 20px;
}

.score {
    width: 660px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #2e3d49;
    font-size: 20px;
}

.star {
    margin: 0;
    padding: 0;  
    text-align: center;
    
}

.score li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;    
    text-align: center;
    
}

.movimentos .blocoTime {
    /* display: block; */
    padding: 0;
    margin: 0;  
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size: 40px;
    color: rgb(13, 212, 212);
    margin-left: auto;
    border-width: 1px 1px 1px 1px;
    border-color: #2e3d49;
}

.restart:hover {
    color: #2e3d49;
    text-shadow: 5px 5px 5px rgb(54, 126, 20);
    
}

.start:hover {
    color: #2e3d49;
    text-shadow: 5px 5px 5px rgb(54, 126, 20);
}

.moves {
    padding: 10px;
}

.time {
    padding: 0px;
}

@keyframes match {
    from {
        background-color: rgb(83, 81, 223);
        transform: scale(2, 2);
    } 
    to {
        background-color: rgb(9, 206, 9);
        transform: scale(1, 1); 
    }
}

@keyframes erro {
    from {
        transform: rotate(5deg);
        background: #b1a005;
                
    }
    to {        
        transform: rotate(-5deg);
        background: #df0c0c;
         
    }    
}

/* CSS modal */

.modalDialog {
	position: fixed;
	font-family: 'Coda', cursive;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(71, 80, 80, 0.7);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:1;
	pointer-events: auto;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
    width: 660px;
    min-height: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 20px;
	background: rgb(233, 229, 229);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 30px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 100px;
	text-decoration: none;
	/* font-weight: bold; */
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 15px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: rgb(13, 212, 212); }

.textoModal {
    font-size: 22px;
    position: absolute;
    justify-content: center;
    top: 25%;
}

.iconModal {
    font-size: 80px;
    color: rgb(13, 212, 212);
	text-align: center;
	width: 100px;

}

#smile {
    position: absolute;
    right: 80%;
    top: 50%;
    text-shadow: 5px 5px 3px rgb(54, 126, 20);
}

#flag {
    position: absolute;
    right: 5%;
    top: 50%;
    text-shadow: 5px 5px 3px rgb(54, 126, 20);
}

/* ******************************************************************************************************************* */

@media only screen and (max-width: 600px) {
    /* For mobile phones: */

    html {
        box-sizing: border-box;
    }
    
    *,
    *::before, 
    *::after {
        box-sizing: inherit;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
        font-family: 'Coda', cursive;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* pointer-events: none; */
    }

    .titulo {
        font-size: 25px;
        padding: 0;
        margin: 20px 0 5px 0;
    }

    .deck {
        width: 380px;
        min-height: 500px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 6px;
        border-radius: 10px;
        box-shadow: 4px 5px 8px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 0;
    }
    
    .deck .card {
        height: 80px;
        width: 80px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }
    
    .deck .card.open {
        transform: rotateY(0);
        background: #02b3e4;
        cursor: default;
        animation-name: example;
        animation-duration: 1s;
    
    }
    
    .deck .card.show {
        font-size: 23px;
        animation-name: example;
        animation-duration: 2s;
    }
    
    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 40px;
        animation-name: match;
        animation-duration: 1s;
    }
    
    .deck .card.erro {
        cursor: default;
        background: #02ccba;
        font-size: 25px;    
        animation-name: erro;
        animation-duration: 1s;
        background: #2e3d49; 
          
    }
    
    /*
     * Styles for the Score Panel
     */
    
    .score-panel {
        width: 380px;
        margin-bottom: 5px;
        vertical-align: middle;
        align-items: center;
        display: flex;
        /* display: block; */
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #2e3d49;
        font-size: 18px;
    }
    
    .score {
        width: 380px;
        vertical-align: middle;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    
        justify-content: space-between;
        align-items: center;
    
        border-style: solid;
        border-width: 1px 0px 1px 0px;
        border-color: #2e3d49;
        font-size: 18px;
    }
    
    .star {
        margin: 0;
        padding: 0;  
        text-align: center;
        
    }
    
    .score li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;    
        text-align: center;
        
    }
    
    .movimentos .blocoTime {
        /* display: block; */
        padding: 0;
        margin: 0;  
    }
    
    .score-panel .restart {
        float: right;
        cursor: pointer;
        font-size: 40px;
        color: rgb(13, 212, 212);
        margin-left: auto;
        border-width: 1px 1px 1px 1px;
        border-color: #2e3d49;
    }
    
    .restart:hover {
        color: #2e3d49;
        text-shadow: 2px 2px 2px rgb(54, 126, 20);
        
    }
    
    .start:hover {
        color: #2e3d49;
        text-shadow: 2px 2px 2px rgb(54, 126, 20);
    }
    
    .moves {
        padding: 10px;
    }
    
    .time {
        padding: 0px;
    }
    
    @keyframes match {
        from {
            background-color: rgb(83, 81, 223);
            transform: scale(2, 2);
        } 
        to {
            background-color: rgb(9, 206, 9);
            transform: scale(1, 1); 
        }
    }
    
    @keyframes erro {
        from {
            transform: rotate(5deg);
            background: #b1a005;
                    
        }
        to {        
            transform: rotate(-5deg);
            background: #df0c0c;
             
        }    
    }
    
    /* CSS modal */
    
    .modalDialog {
        position: fixed;
        font-family: 'Coda', cursive;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(71, 80, 80, 0.7);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
    
    .modalDialogOpen {
        opacity:1;
        pointer-events: auto;
    }
    
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    
    .modalDialog > div {
        width: 400px;
        min-height: 300px;
        position: relative;
        margin: 30% auto;
        padding: 3px 10px 7px 10px;
        border-radius: 20px;
        background: rgb(233, 229, 229);
    }
    
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 30px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 10px;
        width: 100px;
        text-decoration: none;
        /* font-weight: bold; */
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 10px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    
    .close:hover { background: rgb(13, 212, 212); }
    
    .textoModal {
        font-size: 18px;
        position: absolute;
        justify-content: center;
        top: 25%;
    }
    
    .iconModal {
        font-size: 50px;
        color: rgb(13, 212, 212);
        text-align: center;
        width: 100px;
    
    }
    
    #smile {
        position: absolute;
        right: 65%;
        top: 60%;
        text-shadow: 5px 5px 3px rgb(54, 126, 20);
    }
    
    #flag {
        position: absolute;
        right: 15%;
        top: 60%;
        text-shadow: 5px 5px 3px rgb(54, 126, 20);
    }

}